

body
{

    background-color:white;
    margin:auto;
    font-size:18px;
    font-family: 'Raleway', sans-serif;
    margin-left:50px;
    margin-right:50px;
    padding-bottom:50px;
    height:auto;


}


a
{
color:black;
text-decoration:none;

}



a:hover{
    
    font-size:20px;

}

.header
{

    
    display:flex;



}



.navig
{
    
    justify-items: right;
    margin-left:auto;
    margin-right:25px;
    margin-top:auto;
    margin-bottom:auto;
    
}

.navig a
{
    padding:5px;
    font-family: 'Raleway', sans-serif;
    text-decoration:none;
    font-weight:600;
    color:#0065FC;
    font-size:18px;
}

.heberg:hover{
    text-decoration-line: overline;
    font-size:25px;

}

.activ:hover{
    text-decoration-line: overline;
    font-size:25px;

}

.inscription:hover{
    text-decoration-line: overline;
    font-size:25px;

}

.slogan
{

line-height:15px;

}


.search-container
{
   
    display:flex;
    margin-top:40px;
    flex-direction:row;
    border:1px black solid;
    width:360px;
    align-items:center;
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    height:50px;
    border-color:grey;
    


}





.fa-map-marker-alt
{

    font-size:30px;
    background-color:#F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px;
    width:25px;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px;






}


.search-desktop
{
    font-size:20px;
    background-color:#0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius:15px;
    padding-top:14.5px;
    padding-bottom:14.5px;
    border:none;
    width:80px;
    padding-right:120px;
    color:white;
    margin-left:8px;
    
    
    
}



.search-mobile

{
    display:none;
    font-size:20px;
    background-color:#0065FC;
    border-radius:15px;
    padding-top:14.5px;
    padding-bottom:14.5px;
    border:none;
    width:60px;
    
    color:white;
    
    margin-left:180px;
    position:absolute;
    margin-top:-50px;


}


input[type=text]

{

    font-size:20px;
    text-align:center;
    width:161px;
    padding-top:13px;
    padding-bottom:13px;

    
    border:none;

    

}



.filtres
{
    display:flex;
    flex-direction:row;
    align-items:center;
    
    margin-top:30px;
    
    justify-content:left;
    font-size:20px;
    
    margin-bottom:20px;
    
}

.fa-money-bill-wave
{
    margin-left:0; 
    background:#F2F2F2;
    float:left;
    border-radius:100%;
    font-size:30px;
    padding:10px;
    color:#0065FC; 
    display:flex;


}

.categorie
{

display:flex;
float:right;
align-items:center;
justify-content:left;
border-top-left-radius: 50px;
border-top-right-radius:50px; 
border-bottom-left-radius:50px;
border-bottom-right-radius:50px;
height:50px;
width:auto;
padding-right:25px;
margin-left:50px;
border:2px grey solid;





}

.eco:hover{
    text-decoration-line: overline;
    font-size:30px;

}

.fa-child
{
    margin-left:0; 
    background:#F2F2F2;
    float:left;
    border-radius:100%;
    font-size:30px;
    padding:10px;
    color:#0065FC; 
    display:flex;


}


.fami:hover{
    text-decoration-line: overline;
    font-size:30px;

}

.fa-dog
{
    margin-left:0; 
    background:#F2F2F2;
    float:left;
    border-radius:100%;
    font-size:30px;
    padding:10px;
    color:#0065FC; 
    display:flex;


}

.animaux:hover{
    text-decoration-line: overline;
    font-size:30px;

}

.fa-heart
{
    
    margin-left:0; 
    background:#F2F2F2;
    float:left;
    border-radius:100%;
    font-size:30px;
    padding:10px;
    color:#0065FC; 
    display:flex;


}

.romantique:hover{
    text-decoration-line: overline;
    font-size:30px;

}



.text-filtre
{

margin-left:15px;

}

.info

{

    display:flex;
    align-items:center;

}

.fa-info

{

    
    
    float:left;
    border-radius:100%;
    font-size:10px;
    padding:4px;
    border: solid 1.5px;
    display:flex;
    color: #0065FC;
    border-color:rgba(53, 53, 53, 0.986);
    margin-right:15px;


}



.container
{
display:flex;
flex-direction:row;






}




.photo
{

width:300px;
object-fit:cover;

border-top-left-radius:15px;
border-top-right-radius:15px;
height:120px;



}

#left{

display:flex;
flex-direction:row;
flex-wrap:wrap;
width:1200px;
height:900px;
align-items:center;
text-align:center;
background:#DFE3E7;
border-radius:15px;
padding-bottom:100px;
}

.logement
{

background:white;
width:300px;
height:300px;
margin-left:65px;
padding:5px;
border-radius:15px;
box-shadow: 10px 10px 5px #656565;



}

.titre
{
margin-left:75px;
width:100%;
text-align:left;



}



.affichage
{
    text-decoration:none;
    margin-left:75px;
    width:100%;
    text-align:left;
    font-weight:bold;
    font-family: 'Raleway', sans-serif;
    font-size:25px;
}

.affichage:hover
{
font-size:25px;
text-decoration-line:overline;

}

.titre_pop
{
margin-left:50px;


}


#right
{

    display:flex;;
    flex-direction:row;
    flex-wrap:wrap;
    
    justify-items:center;
    align-items:center;
    margin-right:25px;
    
    margin-left:auto;
    width:480px;
    height:1000px;
    background:#DFE3E7;
    border-radius:15px;
    padding-left:15px;
    padding-right:15px;
   



}


.logement-pop

{

background:white;
width:450px;
height:200px;
box-shadow: 10px 10px 5px #656565;
border-radius:15px;
flex-direction:row;
display:flex;
line-height:20px;
margin-left:20px;




}





.photo-pop
{

    width:150px;
    height:180px;
    border-radius:15px;
    margin-left:0px;
    padding-left:10px;
    padding-right:50px;
    float:left;
    padding-top:10px;
    padding-bottom:10px;
    object-fit:cover;
  

    
    
    


}

.descriptif
{

width:400px;



}


#win
{
color:#0065FC;

}

#loose
{
color:#DFE3E7;

}





#activité
{
display:flex;
width:100%;
height:auto;
margin-top:100px;
flex-wrap:wrap;








}

.act
{
width:100%;
margin-left:25px;
height:50px;


}



.medium

{
display:flex;
flex-direction:column;

height:580px;
border-radius:15px;

box-shadow: 10px 10px 5px #656565;


}

.small

{

display:flex;
flex-direction:column;
border-radius:15px;
height:600px;
padding-left:35px;
padding-right:35px;




}


.small-container
{
box-shadow: 10px 10px 5px #656565;
height:250px;
margin-bottom:25px;
border-radius:15px;
padding-bottom:20px;


}

.photo-medium
{
width:360px;
height:500px;
border-top-left-radius:15px;
border-top-right-radius:15px;
object-fit:cover;

}

.photo-small
{
width:471px;
height:200px;
border-top-left-radius:15px;
border-top-right-radius:15px;
object-fit:cover;


}


.titre_activité
{
margin-left:10px;
align-items:center;




}


.footer
{
display:flex;
flex-direction:row;
width:100%;
background:#DFE3E7;
margin-top:50px;




}

.propos , .hebergements , .assistance

{
display:flex;
flex-direction:column;
margin-left:250px;
line-height:40px;
padding-top:20px;
padding-bottom:20px;

}



@media screen and (min-width: 200px) and (max-width: 980px){






    .search-container
    {
       
        display:flex;
        margin-top:40px;
        flex-direction:row;
        border:1px black solid;
        width:290px;
        align-items:center;
        border-top-left-radius: 15px;
        border-bottom-left-radius:15px;
        border-top-right-radius:15px;
        border-bottom-right-radius:15px;
        height:50px;
        border-color:grey;
        
    
    
    }

.search-desktop
{

display:none;


}


.search-mobile

{
    display:block;
}





.filtres{
flex-direction:row;
flex-wrap:wrap;
margin-left:25px;

}
.filtres p{
width:100%;
font-weight:bold;

}
.categorie
{

margin-left:10px;

}
.container
{

flex-direction:column-reverse;
justify-content:left;
}


#left
{

flex-direction:column;
flex-wrap:wrap;
width:auto;
padding-right:40px;
height:auto;
margin-top:50px;
background:white;

margin-right:auto;
}


#right
{


width:500px;
height:auto;
flex-direction:column;
justify-content:left;
margin-left:25px;
padding-right:40px;
}


.affichage
{
    text-decoration:none;
    margin-left:75px;
    width:100%;
    text-align:left;
    font-weight:bold;
    font-family: 'Raleway', sans-serif;
    font-size:25px;
    margin-top:50px;
}


.logement
{
margin-top:50px;
width:500px;
border:1px solid grey;
margin-left:25px;

}


.logement-pop
{
margin-bottom:25px;


}

.photo
{
width:500px;  
height:150px; 
}





#activité
{
display:flex;
width:auto;
height:auto;
margin-top:100px;
flex-wrap:wrap;
margin-left:25px;
justify-content:left;





}



.medium
{
height:250px;
width:530px;
margin-left:25px;
margin-right:auto;
margin-bottom:25px;



}

.small
{
    width:530px;
margin-left:25px;
margin-bottom:25px;
padding-left:0px;
padding-right:0px;
justify-content:left;



}

.photo-small
{
width:100%
    
    
    


}
.photo-medium
{
height:200px;
width:100%;

}

.footer

{

flex-direction:column;
height:auto;
width:100%;


}
.propos , .hebergements , .assistance

{
    display:flex;
    flex-direction:column;
    text-align:center;
    line-height:40px;
    margin-left:0;
    padding-top:20px;
    padding-bottom:20px;


}

.slogan
{

line-height:30px;

}

}



/*tablette*/
@media only screen and (min-width: 980px) and (max-width: 1800px) 
{
    


    .search-container
    {
       
        display:flex;
        margin-top:40px;
        flex-direction:row;
        border:1px black solid;
        width:290px;
        align-items:center;
        border-top-left-radius: 15px;
        border-bottom-left-radius:15px;
        border-top-right-radius:15px;
        border-bottom-right-radius:15px;
        height:50px;
        border-color:grey;
        
    
    
    }

.search-desktop
{

display:none;


}


.search-mobile

{
    display:block;
}





.filtres{
flex-direction:row;
flex-wrap:wrap;
margin-left:25px;

}
.filtres p{
width:100%;
font-weight:bold;

}
.categorie
{

margin-left:10px;

}
.container
{

flex-direction:column-reverse;
}


#left
{

flex-direction:row;

width:100%;
padding-right:40px;
height:auto;
margin-top:50px;
background:white;
}


#right
{
flex-direction:row;
margin-right:none;
margin-left:15px;
width:auto;
height:auto;
line-height:5px;
margin-top:10px;
padding-bottom:20px;
}


.affichage
{
    text-decoration:none;
    margin-left:75px;
    width:100%;
    text-align:left;
    font-weight:bold;
    font-family: 'Raleway', sans-serif;
    font-size:25px;
    margin-top:50px;
}

.logement
{
margin-top:50px;
width:465px;
border:1px solid grey;
line-height:5px;
margin-left:40px;

}

.logement-pop
{
padding-top:-5px;
margin-top:10px;
padding-right:30px;


}

.titre
{
margin-bottom:-5px;
margin-left:25px;

}

.titre_pop
{
width:100%;
margin-left:5px;


}
.photo
{
width:100%;  
height:150px; 
}


.medium

{
display:flex;
flex-direction:column;
height:auto;
border-radius:15px;
box-shadow: 10px 10px 5px #656565;
margin-left:40px;
margin-top:25px;




}

#activité
{
display:flex;
flex-direction:row;
width:100%;
height:auto;
margin-top:20px;
flex-wrap:wrap;



}

.act
{
width:100%;
margin-left:25px;
height:50px;


}





.small

{

display:flex;
flex-direction:row;
border-radius:15px;
height:auto;
padding-left:25px;
padding-right:25px;
width:auto;
margin-top:25px;




}


.small-container
{
box-shadow: 10px 10px 5px #656565;
height:250px;
margin-bottom:25px;
border-radius:15px;
padding-bottom:20px;
width:470px;
margin-right:25px;
}


.photo-small
{

width:100%;
    
}
.photo-medium
{
height:200px;
width:500px;
}

.footer
{
display:flex;
flex-direction:row;
width:100%;
background:#DFE3E7;
margin-top:50px;

}


.propos , .hebergements , .assistance

{
    display:flex;
    flex-direction:column;
    margin-left:250px;
    line-height:40px;
   
    padding-top:20px;
    padding-bottom:20px;


}

.slogan
{

line-height:30px;

}









    }
    