

body
{

    background-color:white;
    font-size:18px;
    font-family: 'Raleway', sans-serif;
    padding-bottom:50px;
    height:100%;
    width:100%;
    margin:0;
    overflow-x:hidden;
    

}

.logo
{
margin-left:10px;

}
a
{
color:black;
text-decoration:none;
font-weight:600;

}



a:hover{
    
    color:#0065FC;

}

.header
{

    
    display:flex;
    


}



.navig
{
    
    justify-items: right;
    margin-left:auto;
    margin-top:auto;
    margin-bottom:auto;
    margin-right:5px;
}

.navigphone
{
display:none;  
}
.navig a
{
    padding:5px;
    font-family: 'Raleway', sans-serif;
    text-decoration:none;
    font-weight:600;
    color:#0065FC;
    font-size:18px;
}

.heberg:hover{
    text-decoration-line: overline;
   

}

.activ:hover{
    text-decoration-line: overline;
    

}

.inscription:hover{
    text-decoration-line: overline;
    

}

.slogan 
{

line-height:15px;



}
h1
{
    margin-left:10px;
}

p
{
margin-left:15px;
}
.search-container
{
   
    display:flex;
    margin-top:40px;
    flex-direction:row;
    border:1px black solid;
    width:360px;
    align-items:center;
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    height:50px;
    border-color:grey;
    margin-left:15px;


}





.fa-map-marker-alt
{

    font-size:30px;
    background-color:#F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px;
    width:25px;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px;
    





}


.search-desktop
{
    font-size:20px;
    background-color:#0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius:15px;
    padding-top:14.5px;
    padding-bottom:14.5px;
    border:none;
    width:80px;
    padding-right:120px;
    color:white;
    margin-left:8px;
    
    
    
}



.search-mobile

{
    display:none;
    font-size:20px;
    background-color:#0065FC;
    border-radius:15px;
    padding-top:14.5px;
    padding-bottom:14.5px;
    border:none;
    width:60px;
    
    color:white;
    
    margin-left:180px;
    position:absolute;
    margin-top:-50px;


}


input[type=text]

{

    font-size:20px;
    text-align:center;
    width:161px;
    padding-top:13px;
    padding-bottom:13px;

    
    border:none;

    

}



.filtres
{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-left: 5px;
    margin-top:30px;
    
    justify-content:left;
    font-size:20px;
    
    margin-bottom:20px;
    
}

.fa-money-bill-wave
{
    margin-left:0; 
    background:#F2F2F2;
    float:left;
    border-radius:100%;
    font-size:30px;
    padding:10px;
    color:#0065FC; 
    display:flex;


}

.categorie
{

display:flex;
float:right;
align-items:center;
justify-content:left;
border-top-left-radius: 50px;
border-top-right-radius:50px; 
border-bottom-left-radius:50px;
border-bottom-right-radius:50px;
height:50px;
width:auto;
padding-right:25px;
margin-left:10px;
border:2px grey solid;





}

.eco:hover{
    text-decoration-line: overline;
    

}

.fa-child
{
    margin-left:0; 
    background:#F2F2F2;
    float:left;
    border-radius:100%;
    font-size:30px;
    padding-top:10px;
    padding-bottom:10px;
    color:#0065FC; 
    display:flex;
    padding-left:15px;
    padding-right:15px;

}


.fami:hover{
    text-decoration-line: overline;
    

}

.fa-dog
{
    margin-left:0; 
    background:#F2F2F2;
    float:left;
    border-radius:100%;
    font-size:30px;
    padding:10px;
    color:#0065FC; 
    display:flex;


}

.animaux:hover{
    text-decoration-line: overline;
    

}

.fa-heart
{
    
    margin-left:0; 
    background:#F2F2F2;
    float:left;
    border-radius:100%;
    
    padding:10px;
    color:#0065FC; 
    display:flex;


}

.romantique:hover{
    text-decoration-line: overline;
    

}





.info

{

    display:flex;
    align-items:center;
    margin-left:10px;
}

.fa-info

{

    
    
    
    font-size:15px;
    color: #0065FC;
   

}


.circle
{

    
    
    margin:10px;
    border-radius:50%;
    font-size:20px;
    width:30px;
    height:30px;
    border: solid 1.5px;
    line-height:20px;
    color: #0065FC;
    border-color:rgba(53, 53, 53, 0.986);
    text-align:center;
    margin-left:10px;
}

.nblogement{
margin-left:5px;

}

.container
{
display:flex;
flex-direction:row;
width:100%;



}




.photo
{

width:100%;
object-fit:cover;

border-top-left-radius:15px;
border-top-right-radius:15px;
height:120px;



}

#left{
margin-left:10px;
display:flex;
flex-direction:row;
flex-wrap:wrap;
width:65%;
height:auto;
align-items:center;
text-align:center;
justify-content:center;
background:#DFE3E7;
border-radius:15px;
padding-bottom:50px;
}

.logement
{

background:white;
width:30%;
height:300px;
margin:auto;
padding:5px;
border-radius:15px;
box-shadow: 10px 10px 5px #656565;
margin-top:60px;


}

#titre
{
margin-left:20px;
width:100%;
text-align:left;
margin-bottom:-30px;


}



.affichage
{
    text-decoration:none;
    margin-left:20px;
    width:100%;
    text-align:left;
    font-weight:bold;
    font-family: 'Raleway', sans-serif;
    font-size:25px;
    margin-top:40px;
}

.affichage:hover
{
font-size:25px;
text-decoration-line:overline;

}

.titre_pop
{
margin-left:5px;
margin-top:30px;
text-align:left;
margin-bottom:-10px;
width:100%;
}


#right
{

    display:flex;;
    flex-direction:row;
    flex-wrap:wrap;
    margin-left:2%;
    margin-right:10px;
    width:30%;
    height:auto;
    background:#DFE3E7;
    border-radius:15px;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:-50px;
    


}


.logement-pop

{

background:white;
width:100%;
height:200px;
box-shadow: 10px 10px 5px #656565;
border-radius:15px;
flex-direction:row;
display:flex;
line-height:20px;
margin-top:-80px;




}





.photo-pop
{

    width:150px;
    height:180px;
    border-radius:15px;
    margin-left:0px;
    padding-left:10px;
    padding-right:50px;
    float:left;
    padding-top:10px;
    padding-bottom:10px;
    object-fit:cover;
  

    
    
    


}

.descriptif
{

width:400px;



}


#win
{
color:#0065FC;

}

#loose
{
color:#DFE3E7;

}





#activité
{
display:flex;
width:100%;
height:auto;
margin-top:100px;
flex-wrap:nowrap;
margin-left:10px;







}

#act
{
width:100%;
margin-left:25px;
height:50px;
margin-top:100px;
margin-bottom:-50px;

}



.medium

{
display:flex;
flex-direction:column;
width:20%;
height:580px;
border-radius:15px;
box-shadow: 10px 10px 5px #656565;
margin-right:2%;

}

.small

{

display:flex;
flex-direction:column;
border-radius:15px;

width:28%;
margin-right:2%;

}


.small-container
{
box-shadow: 10px 10px 5px #656565;
height:257px;
margin-bottom:25px;
border-radius:15px;
padding-bottom:20px;


}

.photo-medium
{
width:100%;
height:500px;
border-top-left-radius:15px;
border-top-right-radius:15px;
object-fit:cover;

}

.photo-small
{
width:100%;
height:200px;
border-top-left-radius:15px;
border-top-right-radius:15px;
object-fit:cover;


}


.titre_activité
{
margin-left:10px;
align-items:center;




}


.footer
{
display:flex;
flex-direction:row;
width:100%;
background:#DFE3E7;
margin-top:50px;




}

.propos , .hebergements , .assistance

{
display:flex;
flex-direction:column;
margin-left:15%;
line-height:40px;
padding-top:20px;
padding-bottom:20px;

}



@media screen and (max-width: 980px){


.logo
{
margin-left:10px;

}
.heberg{
display:none;
}
.activ{
display:none;
}

.navigphone
{

width:100%;
display: flex;
flex-direction:row;
height:100px;
text-align:center;
align-items:center;
line-height:2;
position:sticky;
top:0px;
background:white;
}



.navigphone a
{
    padding:20px;
    font-family: 'Raleway', sans-serif;
    text-decoration:none;
    font-weight:600;
    color:black;
    font-size:25px;
    border-bottom: 5px solid grey;
    
    
}

.navigphone a:hover
{
  
    color:#0065FC;
    border-bottom: 5px solid
    

}
.hebergphone
{
    
width:50%;
   

}

.activphone
{

width:50%;

}

.hebergements
{
width:100%;
border:1px solid black
}


    .search-container
    {
       
        display:flex;
        margin-top:40px;
        flex-direction:row;
        border:1px black solid;
        width:290px;
        align-items:center;
        border-top-left-radius: 15px;
        border-bottom-left-radius:15px;
        border-top-right-radius:15px;
        border-bottom-right-radius:15px;
        height:50px;
        border-color:grey;
        margin-left:30px;
        
    
    
    }

.search-desktop
{

display:none;


}


.search-mobile

{
    display:block;
}





.filtres{
flex-direction:row;
flex-wrap:wrap;
margin-left:20px;

}
.filtres p{
width:100%;
font-weight:bold;

}
.categorie
{

margin-left:10px;
margin-top:5px;
}
.container
{

flex-direction:column-reverse;
justify-content:center;
}


#left
{

flex-direction:column;
flex-wrap:wrap;
width:auto;
padding-right:40px;
height:auto;
margin-top:50px;
background:white;
margin-left:10px;
margin-right:-20px;
}

.titre_pop
{
margin-bottom:10px;
margin-left:0px;
}

#titre
{
    margin-left:0px;

}

#right
{


width:auto;
height:auto;
flex-direction:column;
justify-content:left;
margin-left:10px;


}


.affichage
{
    text-decoration:none;
    
    width:100%;
    margin-left:0px;
    font-weight:bold;
    font-family: 'Raleway', sans-serif;
    font-size:25px;
    margin-top:50px;
}


.logement
{
margin-top:50px;
width:100%;
border:1px solid grey;
margin-left:0px;
margin-right:0px;
}


.logement-pop
{
margin-bottom:25px;
margin-top:20px;

}

.photo
{
width:100%;  
height:150px; 
}





#activité
{
display:flex;
width:auto;
height:auto;
margin-top:100px;
flex-wrap:wrap;
margin-left:10px;
justify-content:left;





}

#act
{

margin-left:10px;
}

.medium
{
height:250px;
width:100%;
margin-left:0px;
margin-right:10px;
margin-bottom:25px;
padding-bottom:20px;


}

.small
{
width:100%;
margin-left:0px;
margin-right:10px;
margin-bottom:25px;
padding-left:0px;
padding-right:0px;
justify-content:left;


}

.photo-small
{
width:100%
    
    
    


}
.photo-medium
{
height:200px;
width:100%;

}

.footer

{

flex-direction:column;
height:auto;
width:100%;
margin-left:0px;
}
.propos , .hebergements , .assistance

{
    display:flex;
    flex-direction:column;
    text-align:center;
    line-height:40px;
    margin-left:0;
    padding-top:20px;
    padding-bottom:20px;


}

.slogan
{

line-height:30px;
text-align:center;
}
.slogan p
{

text-align:left;
margin-left:40px;
margin-top:-15px;
}


}



/*tablette*/
@media only screen and (min-width: 980px) and (max-width: 1400px) 
{
    


    .search-container
    {
       
        display:flex;
        margin-top:40px;
        flex-direction:row;
        border:1px black solid;
        width:290px;
        align-items:center;
        border-top-left-radius: 15px;
        border-bottom-left-radius:15px;
        border-top-right-radius:15px;
        border-bottom-right-radius:15px;
        height:50px;
        border-color:grey;
        
    
    
    }

.search-desktop
{

display:none;


}


.search-mobile

{
    display:block;
}





.filtres{
flex-direction:row;
flex-wrap:wrap;


}
.filtres p{
width:100%;
font-weight:bold;

}
.categorie
{
margin-left:20px;


}
.container
{

flex-direction:column-reverse;
}


#left
{

    display:flex;;
    flex-direction:row;
    flex-wrap:wrap;
    justify-items:center;
    align-items:center;
    margin-left:15px;
    width:auto;
    height:auto;
    background:#DFE3E7;
    border-radius:15px;
    padding-left:15px;
    padding-right:15px;
    margin-top:20px;
    margin-right:10px;
}


#right
{
flex-direction:row;
margin-right:none;
margin-left:15px;
width:auto;
height:auto;
line-height:5px;
margin-top:10px;
padding-bottom:20px;
}


.affichage
{
    text-decoration:none;
    margin-left:75px;
    width:100%;
    text-align:left;
    font-weight:bold;
    font-family: 'Raleway', sans-serif;
    font-size:25px;
    margin-top:50px;
}

.logement

{

background:white;
width:100%;
height:200px;
box-shadow: 10px 10px 5px #656565;
border-radius:15px;
flex-direction:row;
display:flex;
line-height:20px;

padding-top:-5px;
margin-top:50px;
padding-right:30px;



}


.descript
{

width:400px;



}

.logement-pop
{
padding-top:-5px;
margin-top:50px;
padding-right:30px;


}


.photo
{

    width:150px;
    height:180px;
    border-radius:15px;
    margin-left:0px;
    padding-left:10px;
    padding-right:50px;
    float:left;
    padding-top:10px;
    padding-bottom:10px;
    object-fit:cover;
  

    
    
    


}

#titre
{
    width:100%;
    margin-left:5px;
    

}

.titre_pop
{
width:100%;
margin-left:5px;


}



.medium

{
display:flex;
flex-direction:column;
height:600px;
border-radius:15px;
box-shadow: 10px 10px 5px #656565;
margin-top:25px;
width:465px;
padding-bottom:0px


}

#activité
{
display:flex;
flex-direction:row;
width:100%;
height:auto;
margin-top:20px;
flex-wrap:nowrap;
margin-left:15px;


}

#act
{
width:100%;
margin-left:20px;
height:50px;
margin-bottom:10px;
margin-top:60px;
}


.titre_activité
{



}


.small

{

display:flex;
flex-direction:column;
border-radius:15px;
height:auto;
margin-left:0;
width:465px;
margin-top:25px;




}


.small-container
{
box-shadow: 10px 10px 5px #656565;
height:180px;
margin-bottom:25px;
border-radius:15px;
padding-bottom:110px;
width:100%;
display:flex;
flex-direction:column;
margin-left:0;

}


.photo-small
{

width:100%;
object-fit:cover;  
height:220px;

}
.photo-medium
{
height:500px;
width:100%;
object-fit:cover;
}

.footer
{
display:flex;
flex-direction:row;
width:100%;
background:#DFE3E7;
margin-top:50px;

}


.propos , .hebergements , .assistance

{
    display:flex;
    flex-direction:column;
    margin-left:15%;
    line-height:40px;
   
    padding-top:20px;
    padding-bottom:20px;


}

.slogan
{

line-height:30px;


}









    }
    